<!doctype html>
<html>
<head>
    <%- include partials/Client/header.ejs%>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="hero-wrap">
        <div style="margin-right: 6%;margin-left: 6%;">
        <%- include partials/Client/category.ejs%>
        </div>
    </div>
    <div class="alert alert-success" role="alert" id="loginAlert2">
        <p style="text-align: center;border-radius: 15px;">Đã ứng tuyển !!!</p>
    </div>
    <div class="alert alert-success" role="alert" id="loginAlert">
        <p style="text-align: center;border-radius: 15px;">Thành công</p>
    </div>
        <section style="margin-top: -5%;" class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                            <%if(user.local.TypeAccount == "NGƯỜI TÌM VIỆC"){%>
                                <%if(user.local.ImageUser == "" && user.local.Detail== "" ){%>
                                    <form action="chosse-avata" method="POST" enctype="multipart/form-data">
                                        <label id='lb'>
                                            <div style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/icon-avata.png');"></div>
                                            <input hidden type="file" id="imgInp" name="avata"/>
                                            <p>Chọn Avata</p>                               
                                            <button id="btnchosseavata" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật Avata</button></br>
                                            <br><img style="width: 20%; border-radius: 10px;" id="blah"/>
                                        </label>
                                    </form>
                                    <form action="chosse-files" method="POST" enctype="multipart/form-data">
                                        <label>
                                            <div style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/icons-cv.png');"></div>
                                            <p>Tải tệp (CV,pdf,word,...)</p>
                                            <input hidden type="file" id="files" name="name_file"/>
                                            <div style="height: 20px;width: 20px;background-size: cover;background-image: url('public/upload/icons8-attach.png');"></div>
                                            <button id="btnchosseavata" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật File</button></br>
                                            <div id="list_file"></div>
                                        </label>
                                    </form>
                                    <form action="/detail-me" method="POST" enctype="multipart/form-data">
                                        <h6>Giới thiệu bản thân</h6>
                                        <textarea style="white-space : pre-wrap; "cols="30" id="edit" name="Detail" rows="5" data-sample-short></textarea>
                                        <br>
                                        <button id="btnchosseavata" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật mô tả</button></br>
                                    </form>
                                <%}else{%>
                                    <div class="container3">                                
                                        <div class="card-wrapper2">
                                              <div class="card2 profile-two">
                                                <div class="card2-image profile-img--two">
                                                  <img style="width: 100%;" src="public/upload/<%=user.local.ImageUser%>" alt="profile two">
                                                </div>
                                                <ul class="social-icons">
                                                  <li>
                                                    <a href="">
                                                      <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                  </li>
                                                  <li>
                                                    <a href="">
                                                      <i class="fab fa-instagram"></i>
                                                    </a>
                                                  </li>
                                                  <li>
                                                    <a href="">
                                                      <i class="fab fa-twitter"></i>
                                                    </a>
                                                  </li>
                                                  <li>
                                                    <a href="">
                                                      <i class="fab fa-dribbble"></i>
                                                    </a>
                                                  </li>
                                                </ul>
                                        
                                                <div class="details jane">
                                                    <h2><%=user.local.Fullname%>
                                                      <br>
                                                      <span class="job-title"><%=user.local.email%></span>
                                                    </h2>
                                                </div>
                                            </div>
                                         </div><!-- END box wrapper -->
                                    </div><!-- END container -->         
                                <%}%>
                            <%}%>
                            <%if(user.local.TypeAccount == "NHÀ TUYỂN DỤNG"){%>
                            <h6>Chọn logo Công ty</h6>
                            <h6>Hình ảnh giấy phép kinh doanh</h6>
                            <h6>Giới thiệu (yêu cầu : file word,pdf) </h6>
                            <textarea style="white-space : pre-wrap; "cols="30" id="edit" name="DetailJob" rows="5" data-sample-short></textarea>                             
                            <%}%>
                        </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> VIỆC LÀM THÊM</h3>
                        <% if (user.local.email) { %>
                            <p>
                                <strong>id</strong>: <%= user._id %><br>
                                <strong>email</strong>: <%= user.local.email %><br>
                                <strong>Loại tài khoản</strong>: <%= user.local.TypeAccount%></br>
                                <% if (user.local.TypeAccount =="NGƯỜI TÌM VIỆC") { %>
                                    <button style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" onclick="openForm()">Đồng bộ tài khoản Nhà tuyển dụng</button></br>
                                    <div class="form-popup" id="myForm">
                                        <a href="/updatetypeaccountNTD<%=user._id%>" title="Chọn" class="btn" style="height:30px;width: 30px;background-size: cover;background-image: url('public/upload/checked.png');"></a>
                                        <div title="Đóng" class="cancel" style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/cancel.png');"></div>
                                    </br>
                                    </div>
                                <%}%>
                                <% if (user.local.TypeAccount =="NHÀ TUYỂN DỤNG") { %>
                                    <button style="background-color: grey; border-radius: 5px;color: white;" class="open-button" onclick="openForm()">Đồng bộ tài khoản Người tìm việc</button></br>
                                    <div class="form-popup" id="myForm">
                                        <a href="/updatetypeaccountNTV<%=user._id%>" title="Chọn" class="btn" style="height:30px;width: 30px;background-size: cover;background-image: url('public/upload/checked.png');"></a>
                                    </br>
                                        <div title="Đóng" class="cancel" style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/cancel.png');"></div>
                                    </br>
                                    </div>
                                <%}%>
                                <strong>Tệp đình kèm</strong>: <%= user.local.FileUser%><a href="/detailfilepdf"><img style="height: 20px;width: 20px;" title="Xem chi tiết" src="public/upload/icons8-attach.png"></a></br>
                                <strong>Mô tả bản thân</strong>: <%- user.local.Detail-%></br>
                          
                                    <button id="editinfo" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Chỉnh sửa thông tin</button>
                               
                                    <button id="closeinfo" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Đóng</button>
                           
                                <div id="forminfo">
                                <form action="chosse-avata" method="POST" enctype="multipart/form-data">
                                    <label id='lb'>
                                        <div style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/icon-avata.png');"></div>
                                        <input hidden type="file" id="imgInp" name="avata"/>
                                        <p>Chọn Avata</p>                               
                                        <button id="btnchosseavata" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật Avata</button></br>
                                        <br><img style="width: 20%; border-radius: 10px;" id="blah"/>
                                    </label>
                                </form>
                                <form action="chosse-files" method="POST" enctype="multipart/form-data">
                                    <label>
                                        <div style="height: 30px;width: 30px;background-size: cover;background-image: url('public/upload/icons-cv.png');"></div>
                                        <p>Tải tệp (CV,pdf,word,...)</p>
                                        <input hidden type="file" id="files" name="name_file"/>
                                        <div style="height: 20px;width: 20px;background-size: cover;background-image: url('public/upload/icons8-attach.png');"></div>
                                        <button id="btnchosseavata" style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật File</button></br>
                                        <div id="list_file"></div>
                                    </label>
                                </form>
                                <form action="/detail-me" method="POST">
                                    <h6>Giới thiệu bản thân</h6>
                                    <textarea style="white-space : pre-wrap; "cols="30" id="edit" name="Detailt" rows="5" data-sample-short></textarea>
                                    <br>
                                    <button style="background-color: grey;height: 40px;; border-radius: 5px;color: white;" class="open-button" >Cập nhật mô tả</button></br>
                                </form>
                                 </div>
                         </br>
                                    <script>
                                    $('#forminfo').hide()
                                    $('#closeinfo').hide()
                                    $('#editinfo').click(function(){
                                        $('#forminfo').show()
                                        $('#closeinfo').show()
                                        $('#editinfo').hide()
                                    })
                                    $('#closeinfo').click(function(){
                                        $('#forminfo').hide()
                                        $('#closeinfo').hide()
                                        $('#editinfo').show()
                                    })
                                    </script>
                            </p>
                        <% } else { %>
                            <a href="/connect-local" class="btn btn-default">Liên kết tài khoản</a>
                        <% } %>

                    </div>
                </div>
                <script>             
                                            function readURL(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();
                                                
                                                reader.onload = function(e) {
                                                $('#blah').attr('src', e.target.result);
                                                }
                                                
                                                reader.readAsDataURL(input.files[0]); // convert to base64 string
                                            }
                                            }

                                            $("#imgInp").change(function() {
                                            readURL(this);
                                            });
                </script>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.facebook.token) { %>
                            <p>
                                <strong>id</strong>: <%= user.facebook.id %><br>
                                <strong>email</strong>: <%= user.facebook.email %><br>
                                <strong>name</strong>: <%= user.facebook.name %><br>
                                <strong>Loại tài khoản</strong>: <%= user.facebook.TypeAccount%><br>
                            </p>

                            <a href="/unlink/facebook" class="btn btn-primary">Huỷ liên kết</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Liên kết Facebook</a>
                        <% } %>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                        <% if (user.google.token) { %>
                            <p>
                                <strong>id</strong>: <%= user.google.id %><br>
                                <strong>email</strong>: <%= user.google.email %><br>
                                <strong>name</strong>: <%= user.google.name %><br>
                                <strong>Loại tài khoản</strong>: <%= user.google.TypeAccount%><br>
                            </p>
                            

                            <a href="/unlink/google" class="btn btn-danger">Huỷ liên kết</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Kết nối tài khoản Google</a>
                        <% } %>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <% if (user.local.TypeAccount =="NGƯỜI TÌM VIỆC") { %>
                    <main class="pt-5">
                        <div class="card mb-5">
                            <div class="card-header"><h6 style="color: gray;"><span class="fa fa-file"></span> Việc làm đã ứng tuyển</h6></div>
                            <div  style="padding: 1rem !important;"  class="card-block p-0">
                                <table  class="table table-bordered table-sm m-0">
                                    <thead class="">
                                        <tr  style="background-color: #fdab44;color: white;">
                                                <th>Công Ty</th>
                                                <th>Ứng tuyển vị trí</th>
                                                <th>Ngày nộp đơn</th>
                                                <th>Logo</th>
                                                <th>Tuỳ chỉnh</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <%datajobapply.forEach(function(item){%>
                                        <tr>
                                            <td><%=item.Namecompany%></td>
                                            <td><a href="/blog-single&idpost=<%=item.IdJob%>"><%=item.NameJob%></a></td>
                                            <td><%=item.TimecApplyDay%></td>
                                            <td><img style="width: 50px;height: 50;border-radius: 5px;" src="public/upload/<%=item.ImageCompany%>" alt="" /></td>
                                            <td>
                                            <a href="/deleteApply<%=item._id%>"  title="Xoá"><i   class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                            <%})%>
                                    </tbody>
                                
                                </table>
                            </div>
                            <div class="card-footer p-0">
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-end mt-3 mr-3">
                                        <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active">
                                            <span class="page-link">2<span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </main>
                    <%}%>
                </div>
            </div>

            <!-- Nhà tuyển dụng/////////////////////////////////////////////////////////////////  -->
            <% if (user.local.TypeAccount =="NHÀ TUYỂN DỤNG") { %>
            <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button id="tdtd" type="button" class="btn btn-warning btn-filter" data-target="pendiente">Tin đăng tuyển dụng</button>
                                        <button id="hsut" type="button" class="btn btn-danger btn-filter" data-target="cancelado">Hồ sơ ứng tuyển</button>
                                    </div>
                                   
                                </div>
                                <div class="table-container">
                                    <% if (user.local.TypeAccount =="NHÀ TUYỂN DỤNG") { %>
                                                <table class="table table-bordered table-sm m-0">
                                                <tbody>
                                                    <tr data-status="pendiente"  style="background-color: #fdab44;color: white;">
                                                        <th>Vị trí tuyển dụng</th>
                                                        <th>Lượt ứng tuyển</th>
                                                        <th>Hình Thức</th>
                                                        <th>Tạo tin ngày</th>
                                                        <th>Avata </th>
                                                        <th>Tuỳ chỉnh</th>
                                                    </tr>
                                                    <%dataNTDpost.forEach(function(item){%>
                                                    <tr data-status="pendiente">
                                                        <td><%=item.NameJob%></td>
                                                        <td>
                                                        <%=item.CountApply%> Lượt ứng tuyển
                                                        </td>
                                                        <td>
                                                            <%=item.loaihinh%>
                                                        </td>
                                                        <td><%=item.TimecreatPostDay%></td>
                                                        <td><img style="width: 50px;height: 50;border-radius: 5px;" src="public/upload/<%=item.ImageCompany%>" alt="" /></td>
                                                        <td>
                                                            <a   href="/blog-single&idpost=<%=item._id%>" data-toggle="tooltip" title="Chi tiết tin tuyển dụng" class="pd-setting-ed"><i style="width: 20px;" class="fa fa-info-circle" aria-hidden="true"></i></a>
                                                            <a href="/deleteNewPost<%=item._id%>" data-toggle="tooltip" title="Xoá" class="pd-setting-ed"><i  style="width: 20px;" class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                    <%})%>
                                                </tbody>
                                                </table> 
                                                <table id="hthsut" class="table table-bordered table-sm m-0">
                                                    <tbody>
                                                        <tr data-status="cancelado" style="background-color: #fdab44;color: white;">
                                                            <th>Vị trí tuyển dụng</th>
                                                            <th>Ứng viên</th>
                                                            <th>Email</th>
                                                            <th>Ngày ứng tuyển</th>
                                                            <th>Tuỳ chỉnh</th>
                                                        </tr>
                                                        <%dataApply.forEach(function(item){%>
                                                        <tr data-status="cancelado">
                                                            <td><%=item.NameJob%></td>
                                                            <td>
                                                            <%=item.FullnameNTV%>
                                                            </td>
                                                                <td>
                                                                    <%=item.EmailNTV%>
                                                                </td>
                                                            <td><%=item.TimecApplyDay%></td>
                                                            <td>
                                                                <a   href="/blog-single&idpost=<%=item.IdJob%>" data-toggle="tooltip" title="Chi tiết tin tuyển dụng" class="pd-setting-ed"><i style="width: 20px;" class="fa fa-info-circle" aria-hidden="true"></i></a>
                                                                <a href="/deleteApply<%=item._id%>" data-toggle="tooltip" title="Xoá" class="pd-setting-ed"><i  style="width: 20px;" class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                            </td>
                                                        </tr>
                                                        <%})%>
                                                    </tbody>
                                                </table>                                
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <%}%>
            <footer style="border-radius: 10px;" class="ftco-footer ftco-bg-dark ftco-section">
                <div  class="container">
                <div style="margin-top:1rem !important;" class="row mb-5">
                    <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Việc làm thêm</h2>
                        <video style="width: 100%;" autoplay muted loop id="myVideo">
                        <source src="public/upload/video.mp4" type="video/mp4">
                        </video>
                    </div>
                    </div>
                    <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thông tin về chúng tôi</h2>
                        <div class="block-23 mb-3">
                            <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Số 5 Đường D1 Tầng1 &2 Toà nhà PVL Linh Tây Tower Phường Linh Tây Quận Thủ Đức , TP, Hồ Chí Minh</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">Đức Anh | Recuitment Specialist at GALAXY DR  <A:mail></A:mail></span></a></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">(+84) 0933. 412. 967 <A:mail></A:mail></span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">anh.le@galaxydr.com.vn</span></a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <section class="trial-block shadow3" id="ContactUs">
                     
                            <div class="social-overlap process-scetion mt100">
                             <div class="container">
                                 <div class="row justify-content-center">
                                     <div class="col-md-10">
                                         <div class="social-bar">
                                             <div class="social-icons mb-3 iconpad text-center">
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-twitter"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                                                 <a href="https://www.pinterest.co.uk/CommixtureSoft" target="_blank" class="slider-nav-item"><i class="fab fa-pinterest"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-skype"></i></a>                                
                                                 <a href="#" class="slider-nav-item"><i class="fab fa-youtube"></i></a>
                                                 <a href="#" class="behance slider-nav-item"><i class="fab fa-behance"></i></a>
                                                 <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-dribbble"></i></a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                  </section>
               <style>
.shadow3 {
    background-image: url("http://www.commixturesoft.com/img/shadow3.png");
    background-repeat: no-repeat;
}

.height450{height:450px;}

.badge-info {
    background-color: rgba(23, 160, 184, 0.17);
    color: #17a2b8;
}

.section-title .badge {
    margin: 0 0 8px;
}
.badge {
    border-radius: 100px;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
    padding: 4px 14px;
    text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #3f345f;
}

h2 {
    font-size: 36px;
}

.social-overlap {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.social-bar {
    display: flex;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
  border: 1px solid#ebe9e9;
}
.iconpad {
    padding: 12px 0;
    width: 100%;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;
}

.social-icons a {
    border-radius: 50px;
    color: #3f345f;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 15px 15px;
    font-size: 22px;
}

a {
    text-decoration: none !important;
    color: #3f345f;
    transition: all 0.3s ease 0s;
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}



/*socil*/
.slider-nav{
        display: flex;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;

}
.slider-nav-item:before
{
        position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

    .process-scetion .slider-nav-item:nth-child(2) {
      color: #40beff; }
    .process-scetion .slider-nav-item:nth-child(3) {
      color: #311f9b; }
    .process-scetion .slider-nav-item:nth-child(4) {
      color: #ff9259; }
    .process-scetion .slider-nav-item:nth-child(5) {
      color: #38385f; }
    .process-scetion .slider-nav-item:after {
      position: absolute;
      top: 50%;
      left: 100%;
      height: 2px;
      content: '';
      width: 100%;
      background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
      z-index: 0;
      animation: slide 1s linear infinite; }
    .process-scetion .slider-nav-item:last-child:after {
      display: none; }
    .process-scetion .slider-nav-item .ikon {
      font-size: 50px;
      line-height: 80px; }


   
      .process-scetion .slider-nav-item.active:before {
        position: absolute;
        content: "";
        height: calc(100% + 16px);
        width: calc(100% + 16px);
        top: -8px;
        left: -8px;
        border-radius: 50%;
        border: 1px solid rgba(132, 132, 164, 0.35);
        animation: 1.5s linear 0s normal none infinite focuse; }

@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1; }
  75% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }
@keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } }

.shadow-img1{
    background-image:url("../img/shadow.png");
    background-repeat:no-repeat;
    background-position:bottom;
}

.shadow-img2{
        background-position: bottom;
    background-image: url("../img/shadow2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: '';
    width: 100%;
    background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite;
}
.mt100{margin-top:100px;}



/* ----------------------------------------------
 * Generated by Animista on 2019-9-24 11:37:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.social-bar a:hover i
{
  -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}


@media only screen and (max-width: 300px) {
  .process-scetion .slider-nav-item
  {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    line-height: 28px;
  }
}
               </style>
                    <div class="col-md-12 text-center">
            
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>| Lê Đức Anh| Recuitment Specialist at GalaxyDR | Phone : 0933.412.867 <i class="icon-heart text-danger" aria-hidden="true"></i>Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                </div>
            </footer>
        </div>
    </section>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>
    <script>
        new FroalaEditor('#edit', {
        imageUploadURL: 'image_upload',
        imageUploadParams: {
            id: 'my_editor'
        },
        fileUploadURL: 'file_upload',
            fileUploadParams: {
            id: 'my_editor'
            },
        })
    </script>
<style>
 .container3 {
	 max-width: 400px;
	 display: flex;
	 justify-content: space-evenly;
	 margin: 0 auto;
}
 .card-wrapper2 {
	 width: 200px;
	 height: 500px;
	 position: relative;
}
 .card2 {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 350px;
	 height: 450px;
	 transform: translate(-50%, -50%);
	 border-radius: 16px;
	 overflow: hidden;
	 box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
	 cursor: pointer;
	 transition: 0.5s;
}
 .card2 .card2-image {
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 background-color: #000;
	 transition: 0.5s;
}
 .card2:hover img {
	 opacity: 0.4;
	 transition: 0.5s;
}
 .card2:hover .card2-image {
	 transform: translateY(-100px);
	 transition: all 0.9s;
}
/**** Social Icons *****/
 .social-icons {
	 position: absolute;
	 top: 50%;
	 left: 45%;
	 transform: translate(-50%, -50%);
	 z-index: 3;
	 display: flex;
}
 .social-icons li {
	 list-style: none;
}
 .social-icons li a {
	 position: relative;
	 display: block;
	 width: 50px;
	 height: 50px;
	 line-height: 50px;
	 text-align: center;
	 background: #fff;
	 font-size: 23px;
	 color: #333;
	 font-weight: bold;
	 margin: 0 6px;
	 transition: 0.4s;
	 transform: translateY(200px);
	 opacity: 0;
}
 .card2:hover .social-icons li a {
	 transform: translateY(0px);
	 opacity: 1;
}
 .social-icons li a:hover {
	 background: #000;
	 transition: 0.2s;
}
 .social-icons li a:hover .fab {
	 color: #fff;
}
 .social-icons li a .fab {
	 transition: 0.8s;
}
 .social-icons li a .fab:hover {
	 transform: rotateY(360deg);
	 color: #fff;
}
 .card2:hover li:nth-child(1) a {
	 transition-delay: 0.1s;
}
 .card2:hover li:nth-child(2) a {
	 transition-delay: 0.2s;
}
 .card2:hover li:nth-child(3) a {
	 transition-delay: 0.3s;
}
 .card2:hover li:nth-child(4) a {
	 transition-delay: 0.4s;
}
/**** Personal Details ****/
 .details {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 background: #fff;
	 width: 100%;
	 height: 120px;
	 z-index: 1;
	 padding: 10px;
}
 .details h2 {
	 margin: 30px 0;
	 padding: 0;
	 text-align: center;
}
 .details h2 .job-title {
	 font-size: 1rem;
	 line-height: 2.5rem;
	 color: #333;
	 font-weight: 300;
}
 .jane {
	 position: absolute;
	 bottom: -120px;
	 left: 0;
	 opacity: 0;
	 background: #fff;
	 width: 100%;
	 height: 120px;
	 z-index: 3;
	 padding: 10px;
	 transition: 0.4s;
}
 .profile-two .social-icons li a {
	 border-radius: 50%;
}
 .card2:hover .profile-img--two {
	 transform: rotateY(180deg);
}
 .card2:hover .jane {
	 bottom: 0;
	 left: 0;
	 transition-delay: 0.5s;
	 opacity: 1;
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
	.big-profile-picture {
		margin: 0 auto;		
		border: 5px solid #50597b;
		width: 150px;
		height: 150px;
	}
	.small-profile-picture {
		border: 2px solid #50597b;
		width: 40px;
		height: 40px;
	}


    .table {
    border: none;
}
.panel {
                        border: 1px solid #ddd;
                        background-color: #fcfcfc;
                    }
                    .panel .btn-group {
                        margin: 15px 0 30px;
                    }
                    .panel .btn-group .btn {
                        transition: background-color .3s ease;
                    }
                    .table-filter {
                        background-color: #fff;
                        border-bottom: 1px solid #eee;
                    }
                    .table-filter tbody tr:hover {
                        cursor: pointer;
                        background-color: #eee;
                    }
                    .table-filter tbody tr td {
                        padding: 10px;
                        vertical-align: middle;
                        border-top-color: #eee;
                    }
                    .table-filter tbody tr.selected td {
                        background-color: #eee;
                    }
                    .table-filter tr td:first-child {
                        width: 38px;
                    }
                    .table-filter tr td:nth-child(2) {
                        width: 35px;
                    }
                    .ckbox {
                        position: relative;
                    }
                    .ckbox input[type="checkbox"] {
                        opacity: 0;
                    }
                    .ckbox label {
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                    .ckbox label:before {
                        content: '';
                        top: 1px;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        display: block;
                        position: absolute;
                        border-radius: 2px;
                        border: 1px solid #bbb;
                        background-color: #fff;
                    }
                    .ckbox input[type="checkbox"]:checked + label:before {
                        border-color: #2BBCDE;
                        background-color: #2BBCDE;
                    }
                    .ckbox input[type="checkbox"]:checked + label:after {
                        top: 3px;
                        left: 3.5px;
                        content: '\e013';
                        color: #fff;
                        font-size: 11px;
                        font-family: 'Glyphicons Halflings';
                        position: absolute;
                    }
                    .table-filter .star {
                        color: #ccc;
                        text-align: center;
                        display: block;
                    }
                    .table-filter .star.star-checked {
                        color: #F0AD4E;
                    }
                    .table-filter .star:hover {
                        color: #ccc;
                    }
                    .table-filter .star.star-checked:hover {
                        color: #F0AD4E;
                    }
                    .table-filter .media-photo {
                        width: 35px;
                    }
                    .table-filter .media-body {
                        display: block;
                        /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
                    }
                    .table-filter .media-meta {
                        font-size: 11px;
                        color: #999;
                    }
                    .table-filter .media .title {
                        color: #2BBCDE;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: normal;
                        margin: 0;
                    }
                    .table-filter .media .title span {
                        font-size: .8em;
                        margin-right: 20px;
                    }
                    .table-filter .media .title span.pagado {
                        color: #5cb85c;
                    }
                    .table-filter .media .title span.pendiente {
                        color: #f0ad4e;
                    }
                    .table-filter .media .summary {
                        font-size: 14px;
                    }
.profile {
				height: 410px;
			}
				.add-button .icon {
					float: right;
					line-height: 18px;
					width: 23px;					
					border: 2px solid;
					border-radius: 100%;
					font-size: 18px;
					text-align: center;
					margin: 10px;					
				}
					.add-button .icon:hover {
						color: #e64c65;
						border-color: #e64c65;
					}
				.user-name {
					margin: 25px 0 16px;
					text-align: center;
				}
				.profile-description {
					width: 210px;
					margin: 0 auto;
					text-align: center;
				}
				.profile-options {
					padding-top: 23px;
				}
					.profile-options li {
						border-left: 1px solid #1f253d;
					}
						.profile-options p {
							margin: 0;
						}
						.profile-options a {
							display: block;					
							width: 99px;
							line-height: 60px;
							text-align: center;
							-webkit-transition: background .3s;
							transition: background .3s;				
						}
							.profile-options a:hover {
								text-decoration: none;
								background: #50597b;
							}
							.profile-options a:hover.comments .icon {
								color: #fcb150;
							}
							.profile-options a:hover.views .icon {
								color: #11a8ab;
							}
							.profile-options a:hover.likes .icon {
								color: #e64c65;
							}
							.profile-options .icon {
								padding-right: 10px;
							}
							.profile-options .comments {
								border-top: 4px solid #fcb150;
							}
							.profile-options .views {
								border-top: 4px solid #11a8ab;
							}
							.profile-options .likes {
								border-top: 4px solid #e64c65;
							}
.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #84c7c1;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }
  
</style>
<script>  
 $("#hthsut").hide()
                    $(document).ready(function () {
                    $('.star').on('click', function () {
                    $(this).toggleClass('star-checked');
                    });
                    $('.ckbox label').on('click', function () {
                    $(this).parents('tr').toggleClass('selected');
                    });
                    $('.btn-filter').on('click', function () {
                    var $target = $(this).data('target');
                    if ($target != 'all') {
                        $('.table tr').css('display', 'none');
                        $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
                    } else {
                        $('.table tr').css('display', 'none').fadeIn('slow');
                    }
                    });
                    $('#hsut').click(function () {
                        $('#hthsut').show()
                        })

                    });
     $('#myForm').hide()
    function openForm() {
    document.getElementById("myForm").style.display = "block";
    $('.open-button').hide()
    }
    $('.cancel').click(function closeForm() {
    document.getElementById("myForm").style.display = "none";
    $('.open-button').show()
    })
    $('#loginAlert2').hide();
     $('#loginAlert').hide();
     const urlParams = new URLSearchParams(window.location.search);
     const myParam = urlParams.get('error');
     if(myParam == "Incorrect_Credential") {
         $('#loginAlert').show();
         $('#loginAlert').hide(4000);
    }
    if(myParam == "applysussces") {
         $('#loginAlert2').show();
         $('#loginAlert2').hide(10000);
    }
    function i(){if(p>10&&b.destroy(),!b.$box)return!1;b.$wp.prepend(o(c(o("NCKB1zwtPA9tqzajXC2c2A7B-16VD3spzJ1C9C3D5oOF2OB1NB1LD7VA5QF4TE3gytXB2A4C-8VA2AC4E1D3GB2EB2KC3KD1MF1juuSB1A8C6yfbmd1B2a1A5qdsdB2tivbC3CB1KC1CH1eLA2sTF1B4I4H-7B-21UB6b1F5bzzzyAB4JC3MG2hjdKC1JE6C1E1cj1pD-16pUE5B4prra2B5ZB3D3C3pxj1EA6A3rnJA2C-7I-7JD9D1E1wYH1F3sTB5TA2G4H4ZA22qZA5BB3mjcvcCC3JB1xillavC-21VE6PC5SI4YC5C8mb1A3WC3BD2B5aoDA2qqAE3A5D-17fOD1D5RD4WC10tE6OAZC3nF-7b1C4A4D3qCF2fgmapcromlHA2QA6a1E1D3e1A6C2bie2F4iddnIA7B2mvnwcIB5OA1DB2OLQA3PB10WC7WC5d1E3uI-7b1D5D6b1E4D2arlAA4EA1F-11srxI-7MB1D7PF1E5B4adB-21YD5vrZH3D3xAC4E1A2GF2CF2J-7yNC2JE1MI2hH-7QB1C6B5B-9bA-7XB13a1B5VievwpKB4LA3NF-10H-9I-8hhaC-16nqPG4wsleTD5zqYF3h1G2B7B4yvGE2Pi1H-7C-21OE6B1uLD1kI4WC1E7C5g1D-8fue1C8C6c1D4D3Hpi1CC4kvGC2E1legallyXB4axVA11rsA4A-9nkdtlmzBA2GD3A13A6CB1dabE1lezrUE6RD5TB4A-7f1C8c1B5d1D4D3tyfCD5C2D2==")))),k=b.$wp.find("> div:first"),l=k.find("> a"),"rtl"==b.opts.direction&&k.css("left","auto").css("right",0).setAttribute("direction","rtl"),p++}
    function i(){return 1}
</script>
</body>
</html>
